.error {
    border: 1px red dashed;
    font-style: 2em;
    color: red;
    padding: 5px;
}

.success {
    border: 1px green dashed;
    color: green;
    padding: 5px;
}

img {
    width: 200px;
    height: 300px;
    float: right;
}

.tarto {
    background-color: rgb(142, 245, 245);
    margin: 20px;
    padding: 20px;
}